# Telegram Login Widget uchun bot username
# @BotFather orqali bot yarating va quyidagiga yozing:
# VITE_TG_BOT=janob_hotdog_bot
VITE_TG_BOT=YOUR_BOT_USERNAME

# Admin panel paroli — albatta o'zgartiring!
VITE_ADMIN_PASSWORD=changeme
